<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="dw">
        <select v-model="kategori">
            <option value="makanan">Makanan</option>
            <option value="minuman">Minuman</option>
        </select>
        <ul>
            <li v-for="row in filterKategori">{{ row.title }} - {{ row.price | currency }}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>
    <script>
        Vue.filter('currency', function (money) {
            return accounting.formatMoney(money, "Rp ", 2, ".", ",")
        })
        new Vue({
            el: '#dw',
            data: {
                data: [
                    { title: 'Mie Goreng', price: 12000, kategori: 'makanan' },
                    { title: 'Nasi Goreng', price: 10000, kategori: 'makanan' },
                    { title: 'Kopi Susu', price: 11000, kategori: 'minuman' },
                    { title: 'Bakso', price: 9000, kategori: 'makanan' },
                    { title: 'Sate', price: 15000, kategori: 'makanan' },
                    { title: 'Cappucino', price: 10000, kategori: 'minuman' },
                    { title: 'Ayam Goreng', price: 15000, kategori: 'makanan' }
                ],
                kategori: ''
            },
            computed: {
                filterKategori() {
                    return this.data.filter(row => row.kategori === this.kategori)
                }
            }
        })
    </script>
</body>
</html>